html, body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

p, a {
  line-height: 1.5em;
}

.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#loading {
  display: none;
}

#settings {
  margin-top: 30px;
  margin-bottom: 100px;
}

h1, a {
  color: #6706ce;
}

label {
  font-weight: 50px;
}

a {
  text-decoration: none;
}

main {
  width: 40em;
  margin: auto;
  text-align: center;
}

.styled-button {
  color: #fff;
  text-align: center;
  background-color: #6706ce;
  border: 1px solid #6706ce;
  border-radius: 4px;
  padding: 13px 20px;
  line-height: 1.5em;
  text-decoration: none;
  display: block;
  margin: 10px;
  margin-bottom: 25px;
  width: 100%;
}

.styled-button-turqouise {
  border: none;
  color: black;
  background-color: #00ffce;
}

.infer-widget {
  width: fit-content;
  margin: auto;
}

.links {
  display: flex;
  text-align: center;
}

.links:first-child {
  flex: 0 50%;
}

.links:last-child {
  flex: 1 50%;
}

#uploadedFile {
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s;
  border-radius: 5px;
  outline: none;
  color: #fff;
  background-color: #3e8e41;
  border: none;
}

#uploadedFile:hover {
  background-color: #4CAF50;
}

#uploadedFile:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.marginTop {
  margin-top: 15px;
}

img {
  width: 100%;
  max-width: 600px;
}







video {
  clear: both;
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

header,
footer {
  clear: both;
}

.removed {
  display: none;
}

.invisible {
  opacity: 0.2;
}

.note {
  font-style: italic;
  font-size: 130%;
}

.videoView,
.detectOnClick {
  position: relative;
  float: left;
  width: 48%;
  margin: 2% 1%;
  cursor: pointer;
}

.videoView p,
.detectOnClick p {
  position: absolute;
  padding: 5px;
  background-color: #007f8b;
  color: #fff;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
  margin: 0;
}

.highlighter {
  background: rgba(0, 255, 0, 0.25);
  border: 1px dashed #fff;
  z-index: 1;
  position: absolute;
}

.canvas {
  z-index: 1;
  position: absolute;
  pointer-events: none;
}

.output_canvas {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.detectOnClick {
  z-index: 0;
}

.detectOnClick img {
  width: 100%;
}
