<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>AI Video Boilerplate</title>
  
  <link rel="stylesheet" href="{{ url_for('homepage.static', filename='styles.css') }}" />

  <script>
  </script>
</head>

<body>
  <div class="container">
    <h1>AI Video Boilerplate</h1>
    <p>Mess with it at: <a href="https://github.com/DareFail/AI-Video-Boilerplate-Simple">https://github.com/DareFail/AI-Video-Boilerplate-Simple</a></p>

    <div>
      <h3>List of Demos</h3>
      <div>
        <a href="/microsoftobjectdetection/">General Object Detection</a> - Detects objects in a video using Microsoft-Coco
      </div>
      <div>
        <a href="/universeobjectdetection/">Specialized Object Detection</a> - Detects objects in any <a href="https://universe.roboflow.com/search?q=object+detection+model&t=metadata">Trained Universe Model</a>
      </div>
      <div>
        <a href="/gaze/">Gaze Detection</a> - Control a dot on the screen with just your eyes and a webcam
      </div>
      <div>
        <a href="/privasee/">Priva-see</a> - Pause and blur a playing youtube video when you look away from the screen.
      </div>
    </div>
    
    <!-- Load our application logic -->
    <script src="{{ url_for('homepage.static', filename='script.js') }}"></script>
  </div>
</body>

</html>