<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>AI Video Boilerplate</title>
  
  <link rel="stylesheet" href="{{ url_for('homepage.static', filename='styles.css') }}" />

  <script>
  </script>
</head>

<body>
  <div class="container">
    <h1>AI-video-boilerplate</h1>

    <div>
      This will automatically redirect to random demo. In the future, it will list them all with explanations here.
    </div>
    
    <!-- Load our application logic -->
    <script src="{{ url_for('homepage.static', filename='script.js') }}"></script>
  </div>
</body>

</html>