<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>AI Video Boilerplate</title>

  <!-- Load roboflow.js, the script that will handle loading and running our computer vision model in the browser -->
  <script src="https://cdn.jsdelivr.net/npm/inferencejs"></script>
  
  <link rel="stylesheet" href="{{ url_for('template.static', filename='styles.css') }}" />

  <script>
    var publishable_key = "{{ ROBOFLOW_API_KEY }}";
  </script>
</head>

<body>
  <div class="container">
    <h1>Template</h1>
    <p>Mess with it at: <a href="https://github.com/DareFail/AI-Video-Boilerplate-Simple">https://github.com/DareFail/AI-Video-Boilerplate-Simple</a></p>


    <div id="videoSource">
      <div>
          <input type="file" id="uploadedFile" accept=".mp4, .mov" onchange="handleFileSelect(event)">
      </div>
      <div class="marginTop">
          <button onclick="webcamInference()">Start Webcam</button>
      </div>

      <div class="marginTop">
        <img src="{{ url_for('template.static', filename='preview.gif') }}" />
      </div>
    </div>

    <p id="loading">Loading...</p>

    <!-- The canvas below is required -->

    <div class="infer-widget">
      <canvas width="640" height="480" id="video_canvas"></canvas>
    </div>

    <div id="settings">
      <div>
        <label for="mirror">Flip Video (Mirror)</label><br>
        <input type="checkbox" id="mirror" name="mirror" checked onclick="changeMirror()" />
      </div>

      <div>
        <label for="confidence">Prediction Confidence %</label><br>
        <input type="range" min="1" max="100" value="60" class="slider" id="confidence">
      </div>
    </div>
    
    <!-- Load our application logic -->
    <script src="{{ url_for('template.static', filename='script.js') }}"></script>
  </div>
</body>

</html>