<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>AI Video Boilerplate Simple</title>

  {% if ANALYTICS_ID %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ANALYTICS_ID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ ANALYTICS_ID }}');
    </script>
    <script type="text/javascript">
      (function(){
          var randomh=Math.random();
          var e = document.getElementsByTagName("script")[0];
          var d = document.createElement("script");
          d.src = "https://smarketapi.com/js/Ry2xCSvmXjhywbGz.js?r="+randomh+"";
          d.type = "text/javascript";
          d.async = true;
          d.defer = true;
          e.parentNode.insertBefore(d,e);
      })();
      </script>
  {% endif %}

  <!-- Load roboflow.js, the script that will handle loading and running our computer vision model in the browser -->
  <script src="https://cdn.jsdelivr.net/npm/inferencejs"></script>
  
  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <!-- jQuery UI theme or Bootstrap (optional, if you create a custom theme) -->
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

  <!-- jQuery UI position utility (optional, if you position the keyboard yourself) -->
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>

  <!-- keyboard widget css & script -->
  <link rel="stylesheet" type="text/css" href="https://mottie.github.io/Keyboard/css/keyboard.css">
  <script type="text/javascript" src="https://mottie.github.io/Keyboard/js/jquery.keyboard.js"></script>

  <script type="text/javascript" src="https://mottie.github.io/Keyboard/js/jquery.keyboard.extension-typing.js"></script>

  
  <link rel="stylesheet" href="{{ url_for('surfinterneteyes.static', filename='styles.css') }}" />

  <script>
    // Replace the key below with your Roboflow publishable key
    var publishable_key = "{{ ROBOFLOW_API_KEY }}";

  </script>
</head>

<body>
  <div class="container">
    <h1>Surf the internet with your eyes</h1>

    <div>
      <div>
        Start the webcam. When you blink once it is a mouse click. Blink twice within a second to "hold down" the mouse and blink twice within a second again to release.
      </div>
      <div>
        All demos: <a href="https://simpleAI.darefail.com">https://simpleAI.darefail.com</a>
      </div>
      <div>
        <b>Bonus</b> Chrome Extension: <a href="https://github.com/DareFail/AI-Video-Boilerplate-Chrome">https://github.com/DareFail/AI-Video-Boilerplate-Chrome</a>
      </div>
      <div>
        Mess with it at: <a href="https://github.com/DareFail/AI-Video-Boilerplate-Simple">https://github.com/DareFail/AI-Video-Boilerplate-Simple</a>
      </div>
    </div>

    <div class="marginTop" id="videoSource">
      <div>
        <input type="file" id="uploadedFile" accept=".mp4, .mov" onchange="handleFileSelect(event)">
      </div>
      <div class="marginTop">
        <button onclick="screenInference()">Use Screen</button>
      </div>
      <div class="marginTop">
          <button onclick="webcamInference()">Start Webcam</button>
      </div>
    </div>
    
    <div class="marginTop" style="margin-bottom: 2000px;">
      <div id="wrap">
        <input id="keyboard" type="text" />
      </div>
    </div>

    <p id="loading">Loading...</p>

    <!-- The canvas below is required -->

    <div id="infer-widget">
      <canvas width="640" height="480" id="video_canvas"></canvas>
    </div>


    <div>
        pitchValue: <span id="pitchValue"></span>
    </div>
    <div>
        yawValue: <span id="yawValue"></span>
    </div>
    <div>
        Looking: <span id="looking"></span>
    </div>

    <div id="settings">
      <div>
        <label for="mirror">Flip Video (Mirror)</label><br>
        <input type="checkbox" id="mirror" name="mirror" checked onclick="changeMirror()" />
      </div>

      <div>
        <label for="sensitivity">Sensitivity <span id="sensitivityValue"></span></label><br>
        <input type="range" min="1" max="50" value="25" class="slider" id="sensitivity" onchange="changeSensitivity()">
      </div>

      <div>
        <label for="verticalOffset">Vertical Offset (Adjust until the dot is on your eyes when you stare at your eyes) <span id="verticalOffsetValue"></span></label><br>
        <input type="range" min="-500" max="1000" value="400" class="slider" id="verticalOffset" onchange="changeVerticalOffset()">
      </div>

      <div>
        <label for="filterStrength">Reduce Jitter <span id="filterStrengthValue"></span></label><br>
        <input type="range" min="1" max="99.9" value="91" class="slider" id="filterStrength" onchange="changeFilterStrength()">
      </div>

      <div>
        <label for="dotSize">Dot Size <span id="dotSizeValue"></span></label><br>
        <input type="range" min="1" max="500" value="5" class="slider" id="dotSize" onchange="changeDotSize()">
      </div>
    </div>




    
    <!-- Load our application logic -->
    <script src="{{ url_for('surfinterneteyes.static', filename='script.js') }}"></script>
    <script>
      $(document).ready(function(){
        $('#keyboard')
          .keyboard()
          // activate the typing extension
          .addTyping({
            showTyping: true,
            delay: 250
          });
      });
    </script>
  </div>

</body>

</html>