#loading {
  display: none;
}

a {
  text-decoration: none;
}

.noLinkDecoration {
  color: #373c44;
  text-decoration: none;
}

.youtubeIcon {
  width: 35px;
  height: 30px;
}

.twitterIcon {
  width: 35px;
  height: 30px;
}

#infer-widget {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.marginTop {
  margin-top: 15px;
}

.centerAlign {
  text-align: center;
}

.centerMargins {
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  max-width: 600px;
}

#drawingTools {
  display: none;
}

#input_canvas {
  display: block;
  position: absolute;
  z-index: 50;
}

#screenButton {
  width: 100%;
}

#drawButton {
  width: 100%;
}

@keyframes glow {
  0% {
      text-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700, 0 0 30px #FFD700, 0 0 40px #FFD700;
  }
  50% {
      text-shadow: 0 0 20px #FFD700, 0 0 30px #FFD700, 0 0 40px #FFD700, 0 0 50px #FFD700, 0 0 60px #FFD700;
  }
  100% {
      text-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700, 0 0 30px #FFD700, 0 0 40px #FFD700;
  }
}
