#loading {
  display: none;
}

a {
  text-decoration: none;
}

#infer-widget {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.marginTop {
  margin-top: 15px;
}

.centerAlign {
  text-align: center;
}

.centerMargins {
  margin-left: auto;
  margin-right: auto;
}

#previewImage {
  width: 100%;
  max-width: 600px;
}

#drawingTools {
  display: none;
}

#input_canvas {
  display: block;
  position: absolute;
  z-index: 50;
}

#screenButton {
  width: 100%;
}

#drawButton {
  width: 100%;
}

#pushupCountContainer {
  display: block;
}

#squatCountContainer {
  display: none;
}

#situpCountContainer {
  display: none;
}

.switch-toggle {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}