<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>AI Video Boilerplate Simple</title>

  {% if ANALYTICS_ID %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ANALYTICS_ID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ ANALYTICS_ID }}');
    </script>
    <script type="text/javascript">
      (function(){
          var randomh=Math.random();
          var e = document.getElementsByTagName("script")[0];
          var d = document.createElement("script");
          d.src = "https://smarketapi.com/js/eLgnUuyTHbS4pL7n.js?r="+randomh+"";
          d.type = "text/javascript";
          d.async = true;
          d.defer = true;
          e.parentNode.insertBefore(d,e);
      })();
      </script>
  {% endif %}

  <link rel="stylesheet" href="{{ url_for('gaze.static', filename='pico.min.css') }}" />

  <link rel="stylesheet" href="{{ url_for('gaze.static', filename='styles.css') }}" />

  <script>
  </script>
</head>

<body>
  <main class="container" style="width: 90%; text-align: left;">
    <nav>
      <ul>
        <li><strong><a class="noLinkDecoration" href="/">All Demos</a></strong></li>
      </ul>
      <ul>
        <li><button class="contrast" onclick="location='https://github.com/DareFail/AI-Video-Boilerplate-Simple'">Github</button></li>
      </ul>
    </nav>
    <h1>I am using AI to discreetly browse reddit while working</h1>

    <div class="marginTop">
      Sometimes I want to browse reddit and watch youtube videos at work but I don't like everyone walking by to see whats on my screen. 
    </div>
    <div class="marginTop">
      So I made a chrome extension that has a hidden webcam checking for my eyes and whether they are looking at the screen. If I look away, it pauses and mutes whatever is in the tab and covers it with an excel file until I look back again.
    </div>
    <div class="marginTop">
      First of all, the live demo (and all source code): <a href="https://simpleAI.darefail.com/gaze/">https://simpleAI.darefail.com/gaze/</a>
    </div>
    <div class="marginTop">
      <img src="{{ url_for('gaze.static', filename='intro.gif') }}" />
    </div>
    
    <div class="marginTop">
      Once you upload it, you activate by being on any webpage and right-clicking "Priva-see" (name to be changed)
    </div>
    <div class="marginTop">
      The way it works is with an AI "Gaze" model. It looks at your face and estimates the pitch and yaw of your eyes.
    </div>
    <div class="marginTop">
      <img src="{{ url_for('gaze.static', filename='estimate.png') }}" />
    </div>
    
    <div>
      Pitch and Yaw mean which way you are looking. Left, Right, Up, Down. If these values are 0, then I think it is safe to assume you are looking directly at the camera so the red dot will stay in the center.
    </div>
    <div class="marginTop">
      <img src="{{ url_for('gaze.static', filename='yaw.png') }}" />
    </div>
    <div class="marginTop">
      On a first try, it's hard to use. I'm used to seeing myself in the mirror and if I try to look at my hand I want the dot to follow so I flipped the webcam so it is a mirror.
    </div>

    <div class="marginTop">
      <img src="{{ url_for('gaze.static', filename='mirror.png') }}" />
    </div>

    <div class="marginTop">
      The dot is still pretty random, not in the center of the screen. It turns out it's being displayed in the corner. I never centered the whole thing or took into account where my eyes are. Fortunately, the formula estimates the coordinates of my eyes too. I just take left eye and set the dot there initially because "close enough".
    </div>

    <div class="marginTop">
      <img src="{{ url_for('gaze.static', filename='center.png') }}" />
    </div>

    <div class="marginTop">
      Now it seems to move around but it doesn't move very much. I couldn't say try to surf the internet with this very well. So I turn up what I call the sensistivity. It's just multiplying the distance from the center by this number. I found 25 works well.
    </div>

    <div class="marginTop">
      <img src="{{ url_for('gaze.static', filename='sensitivity.gif') }}" />
    </div>

    <div class="marginTop">
      Now that it's extremely sensitive, the dot is all over the place. I made a "Reduce Jitter:" value to smooth it out. It looks at the last frame and only moves it a fraction of a % towards where it currently thinks I am looking. I found out this is what's called a low pass filter.
    </div>

    <div class="marginTop">
      <img src="{{ url_for('gaze.static', filename='jitter.gif') }}" />
    </div>

    <div class="marginTop">
      When it doesn't detect the position of my eyes, I cover the whole thing in a fake excel image. I also played with blurring the whole screen which is funny but defintely draws more attention.
    </div>

    <div class="marginTop">
      <img src="{{ url_for('gaze.static', filename='excel.png') }}" />
    </div>

    <div class="marginTop">
      Some fun future use cases I am playing with today. If you remove the line of code where I clear the canvas, you can start drawing with your eyes.
      I attempted to do a coloring just with my eyes. I will need some work.
    </div>

    <div class="marginTop">
      <img src="{{ url_for('gaze.static', filename='coloring.png') }}" />
    </div>

    <div class="marginTop">
      I also realize that blinking is a bit like a mouse click. I have started to play with surfing the internet just with my eyes but it is still a bit too clunky to use and some websites like github block this behavior even when it coems from a Chrome Extension. For good reason of course, imagine if an extension started clicking around for you automatically. I am experimenting with this in public still.
    </div>
    <div class="marginTop">
      <img src="{{ url_for('gaze.static', filename='future.png') }}" />
    </div>


  </main>
</body>

</html>